@import url(https://fonts.googleapis.com/css?family=Karla:700|Roboto&display=swap);


* {
  padding: 0;
  margin: 0;
}


header {
    background-color: #FCF3E4;
    padding: 30px;
}

nav {
    float: right;
}

footer {
    border: 1px black solid;
    padding: 100px; 
    text-align: center;
    clear: both;  
}

body {
    background-color: #FFFCF7;
}


h1 {
  	font-family: 'Karla', sans-serif;
  	color: white;
  	font-size: 2.5em;
  	line-height: 1em;
  	font-weight: bold;
}

h2 {
  	font-family: 'Karla', sans-serif;
  	color: #707070;
  	font-size: 1.875em;
  	line-height: 1em;
  	padding: 20px;
}

h3 {
  	font-family: 'Karla', sans-serif;
  	color: #707070;
  	font-size: 1.3em;
  	line-height: 1em;
  	padding: 10px;
}

h4 {
    font-family: 'Karla', sans-serif;
    font-size: 3.3em;
    color: #3C6E71;
    word-wrap: break-word;

} 

.h21 {
	font-family: 'Karla', sans-serif;
  	color: white;
  	font-size: 1.875em;
  	line-height: 1em;
} 


p {
  	font-family: 'Roboto', sans-serif;
  	color: #4A5759;
  	font-size: 1em;
  	line-height: 1.5em;
  	padding: 10px;
}

.p1 {
	font-family: 'Roboto', sans-serif;
  	color: white;
  	font-size: 1em;
  	line-height: 1.5em;
}

.p2 {
	font-family: platelet, sans-serif;
	font-weight: 400;
	font-style: normal;
  	color: white;
  	font-size: 1.5em;
  	line-height: 1.5em;
  	padding: 10px;

}

a {
  	color: white;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
  	font-size: 1em;
  	line-height: 1.5em;
  	padding: 10px;
}

.a1 {
	color: #4A5759;
	padding: 10px;
}

.a2 {
	font-family: 'Karla', sans-serif;
  	color: #707070;
  	font-size: 1.3em;
  	line-height: 1em;
  	padding: 20px;
  	text-decoration: none;

}

.fa {
	color: #4A5759;
	text-decoration: none;
	padding: 20px;
}

.cta {
	background-color: #4A5759;
	text-decoration: none;
	padding: 10px 65px 10px 65px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two-column {
	clear: both;
}

#left {
  background: linear-gradient(rgba(52,52,52,.23),rgba(52,52,52,.23)), url(../images/sweetmoments.jpg), center; 
  background-size: cover;
  background-position: center;
  float: left;
  width: 65%;
}

.hero-text {
	text-align: center;
	padding: 280px;
}

#right {
  float: right;
  width: 35%;
  text-align: center;
}

#intro-babyshop {
	background-color: #FFFCF7;
  	border-bottom: 0.5px #DDDDDD solid;
	padding: 100px;	

}

#intro-hang {
	background-color: #FFFCF7;
  	border-top: 0.5px #DDDDDD solid;
	padding: 100px;	
}

.shop {
    width: 31%;
    margin: 10px 0 0 10px;
    float: left;
    text-align: center;
    padding: 120px 10px 120px 20px;

}

.sale {
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
   
}

.sale-textbox {
    position: absolute;
    bottom: 300px;
    right: 50px;
    width: 250px;  
    background-color: #FCF3E4;
    padding: 25px 55px 59px 25px;  
}

.toys {
    background-color: #C49991;
    width: 31%;
    padding: 10px;
    margin: 0px 5px 10px 10px;
    float: left;
}

.clothes {
    background-color: #E8F1F2;
    width: 31%;
    padding: 10px;
    margin: 0px 5px 10px 5px;
    float: left;
}

.new {
    background-color: #4A5759;
    width: 31%;
    padding: 10px;
    margin: 0px 5px 10px 5px;
    float: left;
}

.clearfix2:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#hang-image {
	float: left;
}

#hang-left {
  	width: 34%;
  	text-align: center;
  	float: right;
}

.hang-text {
	padding: 70px;
  	
}

#causes {
	clear: both;
    background-color: #4A5759;
    text-align: center;
    padding: 100px 200px 400px 200px;
}

#causes-circles {
	padding: 0 10px 0 10px;
}

.water {
	padding:50px;
	float: left;
}

.education {
	padding:50px;
	float: left;
}

.health {
	padding:50px;
	float: left;
}

.marriage {
	padding:50px;
	float: left;
}

input[type=text] {
	width: 20%;
  	padding: 16px 20px;
 	margin: 4px 2px;
  	box-sizing: border-box;
}
input[type=submit]{
	background-color: #F3B61F;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

