@import url(https://fonts.googleapis.com/css?family=Karla:700|Roboto&display=swap);


* {
  padding: 0;
  margin: 0;
}


footer {
    padding: 20px;
    background-color:#DDDDDD;
    opacity:0.7;
   
}

body {
    background-color: #FFFCF7;
}


h1 {
  	font-family: 'Karla', sans-serif;
  	font-size: 2.5em;
  	line-height: 1em;
  	font-weight: bold;
}

h2 {
  	font-family: 'Karla', sans-serif;
  	font-size: 1.875em;
  	line-height: 1em;
}

h3 {
  	font-family: 'Karla', sans-serif;
  	font-size: 1.3em;
  	line-height: 1em;
}

p {
  	font-family: 'Roboto', sans-serif;
  	font-size: 1em;
  	line-height: 1.5em;
}

p.p1 {
    font-size: 1.3750em;
    padding-top: 30px;
    padding-bottom: 30px;

}

a {
  	color: #7A9E7E;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  	font-size: 1em;
  	line-height: 1.5em;
}

a.a1 {
    color: #FFFFFF;
    text-decoration: underline;
}

.main-header {
    background-color: #FCF3E4;
    padding-left: 90px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 90px;
    
}

.site-nav a {
   font-family: 'Karla', sans-serif;
    font-size: 1em;
    color: #4A5759;
    display: block;
    float: right;
    padding-right: 20px;
    padding-bottom: 0px;
}

#intro {
	padding: 196px 171px 263px 171px; 
  background-image: linear-gradient(rgba(52,52,52,.23), rgba(52,52,52,.23)), url(../images/sweetmoments.jpg);
  background-color: #E7ECEF;
  text-align: center;
  line-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;

}

#intro-baby {
  text-align: center;
  margin: 90px 130px 90px 110px;
  border: 1px black solid;
  padding: 20px;
}

#intro-hang {
  text-align: center;
  margin: 90px 155px 90px 110px;
}   

.shop {
  text-align: center;
  margin: 90px 155px 90px 110px;
}

.sale {
  margin: 90px 155px 90px 110px;
}
